.parent {
  box-sizing: border-box;
}
.child {
  background: #ccc;
  padding: 15px;
  box-sizing: border-box;
}
.grand-son {
  background-color: lightcyan;
  padding: 15px;
  box-sizing: border-box;
}
.space {
  height: 15px;
}
