<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Document</title>
</head>
<body>
  <!--
    vue当中不推荐v-for和v-if放到一起去使用

    vue2中v-for的优先级高于v-if 
    所以是先执行v-for 再执行v-if  （先v-for渲染出来的后又被v-if删除掉了，这样就会造成性能浪费）

    vue3中 v-if 的优先级高于 v-for 
    所以是先执行v-if 再执行v-for  （如果dom元素不显示的话，就不会走该元素的v-for步骤，不会渲染）
  -->
  <div id='app'>
    <h2>1、遍历数组</h2>
    <ul v-for="(item, index) in personList" ::key="item.id">
      <li>{{ item.name }} - {{ item.age }}</li>
    </ul>

    <h2>2、遍历对象</h2>
    <p v-for="(value, key) of car">
      {{ key }} - {{ value }}
    </p>

    <h2>3、遍历字符串</h2>
    <span v-for="(item, index) in str" ::key="index">{{ item }}</span>

    <h2>4、遍历指定次数</h2>
    <p v-for="(item, index) in 5" :key="index">{{index}} = {{item}}</p>

  </div>
</body>
<script src='https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js'></script>
<script>
  const vm = new Vue({
    el: '#app',
    data: {
      personList: [
        { id: 1, name: "张三", age: 18 },
        { id: 2, name: "李四", age: 19 },
        { id: 3, name: "王五", age: 20 },
      ],
      car: {
        name: "车",
        price: 20000,
        color: "黑色"
      },
      str: "hello"
    },
    methods: {},
  });
</script>
</html>